<% @admin_authority_groups.each do |authority_group| %>
  <tr>
    <td><%= authority_group.auth_group_name %></td>
    <td><%= authority_group.description %></td>
    <td>
      <%= link_to 'Details', admin_authority_group_path(authority_group.id), class: "btn btn-primary" %>
    </td>
  </tr>
<% end %>
